
.topmargin-sm{
    margin-top: 30px;
}
.topmargin-lg{
    margin-top: 100px;
}
.bottommargin-sm{
    margin-bottom: 30px;
}

.panel-body {
    min-height: 200px;
}
p.msg-convertida {
    padding-top: 35px;
    word-wrap: break-word;
}